<div class="card">
  <div class="card__head">
    <a [routerLink]="['/photograph',photograph.id]" routerLinkActive="router-link-active">
      <img
        [src]="'./assets/img/photos/Photographers/' + photograph.portrait"
        [alt]="photograph.tagline"
        class="card__img"
      />
    </a>

    <h2 class="card__title">{{ photograph.name }}</h2>
    <h3 class="card__title-secondary">{{ photograph.city }}</h3>
    <p class="card__description">{{ photograph.tagline }}</p>
    <p class="card__price">{{ photograph.price }}€/jour</p>

    <!-- <div class="card__tag">
      <button class="card__tag-btn" *ngFor="let tag of photograph.tags">
        <span class="card__tag-btn-content">#{{ tag }}</span>
      </button>
    </div> -->

    <app-tags [tags]="photograph.tags"></app-tags>
  </div>
</div>
