.card {
  height: 35.8rem;
  width: 50.6rem;

  &__img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 50%;
  }

  &__title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #d3573c;
  }

  &__title-secondary {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #901c1c;
  }

  &__description {
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__price {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;

    /* identical to box height */
    text-align: center;

    color: #757575;
  }
}
