.card {
  height: 358px;
  width: 526px;
  left: -162px;
  top: -50px;
  border-radius: 0px;
  border: 1px solid black;

  &__title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #d3573c;
  }

  &__title-secondary {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;

    text-align: center;

    color: #901c1c;
  }

  &__description {
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__price {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;

    /* identical to box height */
    text-align: center;

    color: #757575;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;

    &-btn {
      border: 0.5px solid #c4c4c4;
      box-sizing: border-box;
      border-radius: 11px;
      display: flex;

      &-content {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;

        color: #911c1c;
      }
    }
  }
}
