<main class="home">

  <header class="home__header">
    <app-header-banner></app-header-banner>
    <app-navigation></app-navigation>
    <h1 class ="home__title">
      Nos photographes
    </h1>

  </header>


  <!-- -------------------------- card photographes -------------------------- -->
  <section class = "home__photograph">
    <div class="home__photograph-cards" >
      <app-cart-photograph *ngFor="let photograph of photographes$ | async" [photograph]="photograph"></app-cart-photograph>

    </div>

  </section>

</main>
