.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &__btn {
    display: inline-block;
    border: 0.5px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
    display: flex;
    margin: 1rem 1rem;

    &-content {
      font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;

      color: #911c1c;
    }
  }
}
