@import "./variables";
@import "./mixin";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap");

//---BASE STYLES---

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56.25%; // <1200
  }
  @include respond(tab-port) {
    font-size: 50%; //<900
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: sa;
  background: #e5e5e5;
}

.tag {
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
}

.tag-content {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #911c1c;
}
