:host {
}

.dropMenu {
  margin: 5rem 10rem;
  border: none;
  // cursor: pointer;
  border-radius: 0.5rem;
}

.dropdown-content {
  display: block;
  display: none;
  position: absolute;
  background-color: #901c1c;
  z-index: 1;
  width: 17rem;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: DM Sans;

  span {
  }
}

.dropbtn {
  background-color: #901c1c;
  color: white;
  // width: 17rem;
  border-radius: 5px;
  width: 100%;
  padding: 2rem;
  font-weight: bold;
  font-family: DM Sans;
  font-size: 2rem;
}

.show {
  display: block;
}

.btSpan {
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
  width: 17rem;
  border-top: 1px solid white;
}
