<div class="dropMenu">
  <form [formGroup]="form">
    <div class="">
      <label class="dropMenu__label"> Trier par : </label>
      <select
        formControlName="filters"
        class="dropMenu__btn"
        (ngModelChange)="setValue($event)"
        value="Popularité"
      >
        <option
          class="dropMenu__option"
          value="popularity"
        >
          Popularité
        </option>
        <option class="dropMenu__option" value="date"><span class="dropMenu__option--Date">Date</span></option>
        <option class="dropMenu__option" value="title">Titre</option>
      </select>
    </div>
  </form>
</div>


<!-- <div>
  <button > Popularité </button>
  <button > Date </button>
  <button > Titre </button>

</div> -->
