<div class="photograph">
  <app-header-banner></app-header-banner>

  <app-header-photograph [photograph$]="photographInfo$">
  </app-header-photograph>

  <div class="btn__container">
    <app-button [padding]="'2rem'">Contactez-moi</app-button>
  </div>

  <div class="photograph__search">


    <app-drop-down (emitFilter)="filterPhotos($event)" ></app-drop-down>
  </div>

  <div class="photograph__media">
    <app-card-media
      *ngFor="let media of medias | async"
      [media]="media"
    ></app-card-media>
  </div>

  <div class="photograph__price">
    <app-box-price-like [price]="price" [like]="likes"></app-box-price-like>
  </div>
</div>
