
.button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 2.3rem;
  text-align: center;
  color: #ffffff;
  background: #911c1c;
  border-radius: 5px;
}
